<div class="form-group col-12 m-0 p-3">
    <input type="file" class="form-control" id="complaintFile" name="attachments" multiple onchange="onSelectedFile(event);" />
    <div id="AttachFiles" class="rounded border bg-whitesmoke">
    </div>
</div>
<input type="file" class="w-100" name="AttachFiles" value="" multiple onchange="onSelectedFile(event);" />
<div id="AttachFiles" class="rounded border bg-whitesmoke"/>

<script>
    var _attachFiles = [];

    async function onSelectedFile(event) {

        var html = '';
        var fileSelecteds = $('input[name="attachments"]').get(0).files;
        $.each(fileSelecteds, function (i, file) {
            _attachFiles.push(file);
        })

        $.each(_attachFiles, function (key, item) {
            html += `<p class="m-0 px-1 text-nowrap text-dark a-product-details">${item.name}<span class="text-danger icon-x-span" onclick="return onRemoveFile(${key},0)"><i class="bi bi-x"></i></span></p>`;

        })
        $('#AttachFiles').html(html);
    }

    function onRemoveFile(index, fileID) {
            _attachFiles.splice(index, 1);
            var html = '';
            $.each(_attachFiles, function (key, item) {
                html += `<p class="m-0 px-1 text-nowrap text-dark a-product-details">${item.name}<span class="text-danger icon-x-span" onclick="return onRemoveFile(${key},${item.id})"><i class="bi bi-x"></i></span></p>`;
            });
            $('#AttachFiles').html(html);

        let idFile = parseInt(fileID);
        if (idFile > 0) lstFileDeleted.push(idFile);

    }
</script>