@{
    ViewData["Title"] = "Test Format Money";
}

<h2 class="mb-3">Nhập số tiền (format ngay khi nhập)</h2>

<input type="text" class="form-control form-control-sm material-price" oninput="formatMoney(event)">

<input type="text" id="AmountInput" class="form-control form-control-sm material-price" required
       placeholder="Nhập số tiền giao dịch (VND)" oninput="formatMoney(event)">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function formatMoney(event) {
        const $input = $(event.target);
        let value = $input.val();

        // Loại bỏ tất cả ký tự không phải số
        value = value.replace(/\D/g, '');

        if (value === '') {
            $input.val('');
            return;
        }

        // Format với dấu chấm
        let formattedValue = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
        console.log(formattedValue);
        // Gán lại vào ô input
        $input.val(formattedValue);
        
    }
</script>
